@import 'utilities.css';

:root{
    --primary :#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior:smooth;
}
*{  /* ---> Remove All Padding & Margin */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialised;
}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin: 2rem;
    text-transform: uppercase;
    transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.responsive-logo{
    position:absolute;
    top:40px;
    left: 50px;
    display: none;
}

.hero{
    padding:2rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    color: var(--pure);
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom: 2rem;
    color:var(--pure);
}
.hero .right{
    margin-top: -5rem;
}
section{
    padding: 6rem 0;
}
section.about .about-me-image{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;  
    transition: all .3s ease;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    
}
section.about .social a:hover{
    background-color: var(--primary);
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{ /*----> +p is for selecting next graph*/
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
section.services .card-wrapper{
    display: grid;   /*-----> this is a grid we use in our services */
    grid-template-columns: repeat(3,1fr);  /* ---> 3->columns 1fr-> our template*/
    grid-column-gap: 2rem;
    grid-row-gap:6rem;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper .card{
    background:var(--pure);
    padding: 2rem 3rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0,100% 0,100% 100%,67% 80%,0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
section.reviews p{
    margin-bottom: 3rem;
}
section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20rem;
}
section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.8rem;
}
section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.reviews .slider-dots{
    margin-top: 3rem;
}
section.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 25px;
}
section.works{
    background: var(--light);
}
section.works p{
    margin-bottom: 4rem;
}
section.works .card-wrapper{
    display: grid;   /*-----> this is a grid we use in our services */
    grid-template-columns: repeat(3,1fr);  /* ---> 3->columns 1fr-> our template*/
    grid-gap:2rem;
}
section.works .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.works .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(131, 149, 149, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .3s ease;
}
section.works .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.works .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.works .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.blog{
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%,67% 90%,0 100%);
    padding-bottom: 12rem;
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
    margin-bottom: 0.2rem;
}
section.blog .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);   
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:3rem;
    margin-bottom: 4rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact input:focus ,section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
footer .footer-social a{
    margin-right: 1rem;
}
footer .footer-social{
    margin-bottom: 3rem;
}
footer .copyright{
    color: var(--ternary);
}
footer .footer-social a img{
    width: 2rem;
    height: 2rem;
    object-fit: cover; 
}
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 30px;
}
.mobile-nav ul{
    list-style: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
.logo-nav{
    margin-bottom: 2rem;
    background: #161616;
    padding: 10px 10px;
    border-radius: 8px;
}
@media (max-width:1024px){
    header #main-nav{
        display: none;
        
    }
    .hamberger{
        display: block;
    }
    .responsive-logo{
        display: block;
    }
    .hero .left img{
        width: 260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top: 10rem;
    }
    header{
        clip-path: polygon(0 0,100% 0,100% 100%,27% 90%,0 100%);
    }
    .hero .right{
        padding-bottom: 5rem;
    }
    section.about .about-me-image {
        height: 378px;
    }
    section.services .card-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    section.reviews .slider .slide {
        padding: 0 8rem;
    }
    section.works .card-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.blog{
        clip-path: polygon(0 0,100% 0,100% 100%,67% 97%,0 100%);
    }
}
@media (max-width:576px) {
    .responsive-logo{
        left: 25px;
    }
    .responsive-logo img{
        width:130px;
    }
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0,100% 0,100% 100%,72% 94%,0 100%);
    }
    .hero .right h6{
        font-size: 1.2rem;
    }
    .hero .right{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top: -4rem;
        margin-right: -11rem;
        padding-bottom: 13rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .inner-about{
        text-align: center;
        margin-top: 1rem;
    }
    .social {
        justify-content: center;
    }
    section{
        padding: 4rem;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.freelancer{
        padding-bottom: 9rem;
    }
    section.reviews .slider .slide{
        padding: 0;
    }
    section.works .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-heading + p{
        margin-bottom: 6rem
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr)
    }
    section{
        padding: 1rem;
    }
    .section-heading{
        margin-top: 2rem;
    }
    section.about .about-me-image{
        margin-top: 2rem;
    }
    
}